<p id="notice"><%= notice %></p>

<p>
  <strong>Tick for <%= current_user.name %>:</strong>
  <%= @tick.new_tick %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @tick.detail %>
</p>

<p>
  <strong>User:</strong>
  <%= @tick.user %>
</p>

<%= link_to 'Edit', edit_tick_path(@tick) %> |
<%= link_to 'Back', ticks_path %>
